{{extend 'layout.html'}}
<h1>Adhérent de la maison des ligues ayant participé aux jeux olympiques</h1>
<table border=2 class='table'>

<tr style="background-color:black; color:white;">
    <td width=200px> Nom </td>
    <td width=200px> Prenom </td>
    <td width=200px> Discipline</td>
    <td width=200px> Ligue </td>
    <td width=200px> Année </td>
</tr>

    {{for unAthlete in response._vars['rowsAthlete']:}}
    <tr>
        <td>{{=unAthlete.athlete.nom}} </td>
        <td>{{=unAthlete.athlete.prenom}}</td>
        <td>{{=unAthlete.ligue.discipline}}</td>
        <td>{{=unAthlete.ligue.nom}}</td>
        <td>{{=unAthlete.dateOlympique.dateOlympique}}</td>

    </tr>
    {{pass}}  
</table>
