{{extend 'layout.html'}}
<h1>Liste des ligues </h1>
<table class='table'>
    <tr style="background-color:black; color:white;">
        <td width=100px>Nom</td>
        <td width=100px>Discipline</td>

    </tr>
    {{for uneLigue in response._vars['rowsLigues']:}}
    <tr>
        <td><a href="infosLigues?ligue={{=uneLigue.id}}">{{=uneLigue.nom}}</a></td>
        <td>{{=uneLigue.discipline}}</td>
    </tr>
    {{pass}}
</table>
{{if auth.has_membership('Administration'):}}
    <form action="ajoutLigue">
        <input type="submit" name="ajoutLigue" value="Ajouter une Ligue"/>
    </form>
    <form action="supprLigue">
        <input type="submit" name="supprLigue" value="Supprimer une Ligue"/>
    </form>
{{pass}}
